%p
  %b Name:
  = h @deal.name
%p
  %b Description:
  = h @deal.description
%p
  %b Merchant:
  = h @deal.merchant
%p
  %b Start date:
  = h @deal.start_date
%p
  %b End date:
  = h @deal.end_date
%p
  %b Deal price:
  = h @deal.deal_price
%p
  %b Normal price:
  = h @deal.normal_price
= link_to 'Edit', edit_deal_path(@deal)
|
\#{link_to 'Back', deals_path}
